html {
    font-size: 15px;
}
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.6;;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

.container {
    width: 100%;
    max-width: 1030px;
    margin: 0 auto;
    padding: 0 1rem;
}

/* Page */

.page {
    width: 100%;
    height: 100vh;
    min-height: 770px;
    background: #000 url("../img/bg3.jpg") center no-repeat;
    background-size: cover;

    position: relative;
}

/* Header */

.header {
    margin-bottom: 110px;
    padding: 1rem 0;
    width: 100%;
    background-color: #2B7DED;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-brand {
    font-size: 1.6rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}

.header-logo img {
    display: block;
}

.header-nav {
    display: flex;
}

.header-nav-link {
    margin-left: 1.5rem;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;

    transition: color .2s linear;
}
.header-nav-link:hover {
    color:#cadcf8;
}
.header-nav-link.active {
    position: relative;
}
.header-nav-link.active::after {
    content: "";
    background-color: #fff;
    
    height: 2px;
    width: 100%;

    position: absolute;
    left: 0;
    bottom: -5px;
}

/* Content */
.content-header {
    margin-bottom: 35px;
}
.content {
    width: 100%;
    height: 100%;
    max-width: 565px;
}

.subtitle {
    font-size: 1.4rem;
    font-weight: 300;

    color: rgba(255, 255, 255, 0.6);
}

.title {
    font-size: 2rem;
    font-weight: 500;

    color: #fff;
    
    line-height: 1.2;
    margin-bottom: 10px;
}

.title span {
    color: #2B7DED;
}

.text {
    font-size: 1rem;
    font-weight: normal;

    color: #fff;

    margin-bottom: 40px;
}


/* btn */
.btn {
    display: inline-block;
    /* width: 60px;
    height: 40px; */

    padding: 12px 36px;
    border-radius: 5px;
    border: 0;

    line-height: 1.1;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;

    background-color:#2B7DED;
    color: #fff;
    font-family: inherit;

    transition: background .2s linear;

    cursor: pointer;
}

.btn:hover {
    background-color: #1466da;
}

/* autor */
.autor {
    position: absolute;
    right: 20px;
    bottom: 0;
    filter: drop-shadow(0 0 20px rgb(8, 0, 46));
} 

.img2 {
    position: absolute;
    left: -50rem;
    top: 10rem;
    transition: left .3s linear;
    filter: drop-shadow(0 0 20px rgb(8, 0, 46));
}

.btn:hover + .img2 {
    left: -23rem;
}

/* footer */

.footer {
    position: absolute;
    bottom: 45px;
    left: 0;

    width: 100%;
}

/* contacts */
.contacts {
    display: flex;
    align-items: center;
}
.contacts-link {
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
    font-weight: 500;

    margin-right: 2rem;
}
.contacts-link:last-child {
    position: relative;
}
.contacts-link:last-child::after {
    margin-left: 2rem;
    pointer-events: none;
    content: "";
    width: 80px;
    height: 2px;
    background-color: #fff;
    display: block;
    
    position: absolute;
    left: 100%;
    top: 50%;
}

.contacts-link:hover {
    text-decoration: underline;
}

.contacts-item {
    margin-right: 5px;
}

/* form */

.form {
    max-width: 280px;
    width: 100%;
}

.input,
.textarea {
    display: block;
    width: 100%;

    font-family: inherit;
    font-size: 1rem;

    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;

    border: 0;
    border-radius: 5px;
    padding: 12px 18px;
}

.textarea {
    height: 100px;
    resize: none;
}

.input::placeholder,
.textarea::placeholder {
    color: #fff;
}

.form-group {
    margin-bottom: 20px;
}

.send {
    width: 100%;
    text-align: center;
}


/* Media */
@media (max-width: 1000px) {
    .img2,
    .autor {
        display: none;
    }
}
@media (max-width: 767px) {
    .page {
        min-height: 100vh;
        height: auto;
        padding-bottom: 2rem;
    }
    .header-logo {
        display: none;
    }
    .header-brand {
        font-size: 1.2rem;
    }
    .header {
        margin-bottom: 50px;
    }
    .content {
        max-width:none;
        margin-bottom: 50px;
        text-align: center;
    }
    .footer {
        position: static;
    }
    .form {
        margin: 0 auto;
    }
    .contacts {
        flex-direction: column;
    }
    .contacts-link:last-child::after {
        display: none;
    }
}

@media (max-width: 565px) {
    .header-inner {
        flex-direction: column;
    }
    .header-brand {
        margin-bottom: 1rem;
    }
    .contacts-link {
        margin-right: 0;
        margin-bottom: 0.5rem;
    }
    .contacts-link:last-child {
        margin-bottom: 0;
    }
}

@media (max-width: 320px) {
    .subtitle {
        font-size: 1.2rem;
    }
    .title {
        font-size: 1.6rem;
    }
}
